<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<div th:replace="fragments/header :: authorized_info (${authenticatedUser})" />
<div>
    <h3 th:if="${users.size() <= 0}">
        There isn't any user yet, but...
        you can <a href="/admin/create">create</a> one
    </h3>


    <table border="1">
    <tr  th:each="user : ${users}">
        <td th:text="'I\'m ' + ${user.getName()}"/></td>
        <td>
        <a th:href="@{/admin/details/{id}(id=${user.getId()})}">Смотреть</a>

        </td>
    </tr>
    </table>

    <a href="/admin/create" th:if="${users.size() > 0}">Создать пользователя</a>

</div>
</body>
</html>